.alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
  width: 600px;
  height: 120px;
  gap: 10px;
  background-color: hsl(84, 95%, 70%, 0.9);
  border: 1px solid #015e01;
}

.alert p {
  color: rgb(0, 60, 0);
}

.alert .yon button,
.continue {
  width: 120px;
  height: 40px;
  color: white;
  border: 1px solid black;
  background-color: #02b902;
  cursor: pointer;
  font-size: 1rem;
}

.alert .yon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 300px;
  /* background-color: black; */
}

.alert button.no {
  background-color: red;
}

.alert-green {
  background-color: hsl(84, 95%, 70%, 0.9);
  border: 1px solid #015e01;
}

.alert-red {
  background-color: hsl(0, 95%, 64%, 0.9);
  border: 1px solid #ab0101;
}

.alert-red p {
  color: white;
}

.alert-red button.continue {
  background-color: #f70000;
}
