.container {
  padding-top: 80px;
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}

body {
  height: 140vh;
  background-color: #eaeaea;
  font-family: sans-serif;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  background-image: url(../img/luke-chesser-IGtutkXikuc-unsplash.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  filter: brightness(80%);
}

.form-content {
  position: relative;
  width: 1000px;
  height: 600px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: -5px;
}

.form-content-1,
.form-content-2 {
  position: relative;
  padding: 100px;
  justify-content: center;
  background-color: #ffffffb4;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 1.5px solid black;
  border-radius: 10px;
  margin-bottom: 30px;
}

.form-content-1 input,
.form-content-2 input,
textarea[name="description"] {
  height: 45px;
  width: 100%;
  margin-bottom: 30px;
  /* border-radius: 5px; */
  background-color: #f3f3f3;
  border: 1px solid black;
  padding-left: 5px;
  font-size: 1.1rem;
}

.form-content-1 input:active,
.form-content-2 input:active {
  border: 0 solid black;
  border-bottom-width: 1px;
}

input[name="thumbnail"] {
  border-style: dashed !important;
  border: 1px solid black;
  border-radius: 5px;
}

.form-content button.update,
.form-content button.next,
.form-content button.prev,
.form-content button.upload {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 10px;
  bottom: 10px;
}

.form-content button.update,
.form-content button.next,
.form-content button.prev,
.form-content button.upload {
  color: #eaeaea;
  border: 2px solid black;
  font-size: 1rem;
  cursor: pointer;
  background-color: #4444f9;
  height: 40px;
  width: 100px;
}

button.continue {
  width: 120px;
  font-weight: bold;
}

.form-content button.prev {
  left: 10px;
}

/* .form-content-2 button.prev {
  position: absolute;
  left: 10px;
  bottom: 0;
} */

.form-content-1 h2,
.form-content-2 h2 {
  text-align: center;
}

.form-content-1 .thumbnail {
  padding-top: 100px;
  padding-left: 215px;
  height: 220px;
  /* z-index: ; */
}

.form-content-2 {
  height: 750px !important;
  position: absolute;
  top: 0;
}

.form-content-2 textarea[name="description"] {
  height: 200px;
}

.form-content-2 input[name="video"] {
  padding-top: 4px;
}

.form-content-1 select {
  margin-bottom: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
}
