body {
  min-height: 100vh;
  position: relative;
  /* filter: blur(1px); */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  background-image: url(../img/alex-shutin-kKvQJ6rK6S4-unsplash.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.container {
  min-width: auto;
  height: 100%;
}

/* Left Section */

.left {
  height: 100%;
  width: 180px;
  position: fixed;
  left: -2px;
  background-color: #000000b8;
  border: 2px solid #c1c0c0;
  border-right-width: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  gap: 40px;
}

.left .profile-box {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.left .profile-box p {
  font-size: 0.8rem;
}

.left p,
.left a,
.left h4,
.left i {
  color: white;
}

.left .menu-box {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 100%;
  height: 350px;
}

.left .menu-box a {
  display: block;
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.left .menu-box p {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.left img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid black;
}

.left .status {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 208px;
  width: 60px;
  height: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4242f2;
  border-radius: 20px;
}

/* Right Section */

.right {
  position: absolute;
  padding-top: 80px;
  top: 0;
  right: 0;
  height: 100vh;
  width: 1115px;
  background-color: #ffffff96;
}

.right.videos {
  width: 1090px;
}
.right.categories {
  width: 1090px;
}

.right h1 {
  margin-left: 55px;
  margin-bottom: 10px;
}

.row {
  width: 1050px;
  height: 250px;
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 20px;
}

.row-1 .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 250px;
  border-radius: 10px;
  background-color: #000000ae;
  position: relative;
}

.row-1 .col p {
  color: white;
}

.row-1 .col .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 50%;
}

.row-1 .col-1 {
  width: 450px;
  gap: 8px;
}

.row-1 .col-2 .circle,
.row-1 .col-3 .circle {
  margin-bottom: 4px;
}

.row-1 .col .circle i {
  /* margin-top: 20px; */
  font-size: 6rem;
  color: #5e5ef8;
}

.row-1 .col p {
  font-size: 2rem;
}

.row-1 .col .add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 0%, 0.5);
  position: absolute;
  border-radius: 10px;
  cursor: pointer;
}

.row-1 .col i {
  font-size: 6rem;
  color: white;
}

.row-2 {
  height: 300px;
  background-color: #b7b5e6;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 1000px;
  display: none;
}

.row-2 h1 {
  margin-top: 10px;
}

/* .row-2 .col .content {
  width: 90%;
  height: 420px;
  background-color: #eeecec;
  border-radius: 10px;
  margin: auto;
} */

/* Videos */

.right .back {
  position: fixed;
  top: 70px;
  left: 190px;
  font-size: 3rem;
  color: #4242f2;
  cursor: pointer;
  z-index: 1000;
}

.right .table,
.right .table-category {
  width: 1000px;
  min-height: auto;
  margin-top: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: 25px;
  position: relative;
}

table {
  width: 100%;
  margin-top: 100px;
  background-color: #d1cfcf;
  border-radius: 20px 20px 20px 20px;
}

table img {
  width: 150px;
  border: 1px solid black;
}

table th:nth-child(1) {
  border-top-left-radius: 25px;
}

.table table th:nth-child(5) {
  border-top-right-radius: 25px;
}

.table-category table th:nth-child(3) {
  border-top-right-radius: 25px;
}

table,
th,
td {
  padding: 1rem;
  margin: auto;
  border-collapse: collapse;
}

tbody td {
  text-align: center;
  margin: auto;
}

.delete,
.update {
  background-color: red;
  padding: 5px;
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

/* .delete {
  width: 80px;
  margin: auto;
} */

.update {
  background-color: #02b902;
}

tbody tr:nth-child(even) {
  background-color: #f0eeee;
}

thead {
  background-color: #5e5ef8;
  border-radius: 20px;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  /* background-color: #4242f2; */
}

.alert {
  z-index: 9999;
  height: 130px !important;
  left: 712.7px !important;
}

.alert-green {
  background-color: hsl(84, 95%, 70%);
}

.alert-red {
  background-color: hsl(0, 95%, 64%);
}

/* Categories */

#add {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #02b902;
  top: 80px;
  right: 65px;
  border-radius: 50%;
  font-size: 2rem;
  border: 0;
  cursor: pointer;
}

#add i {
  color: white;
}

.add-ctg {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  top: 170px;
  left: 500px;
  width: 400px;
  height: 100px;
  background-color: hsla(0, 0%, 15%, 0.8);
  border: 1px solid black;
  border-radius: 20px;
}

.add-ctg input {
  width: 300px;
  padding-left: 3px;
  font-size: 1rem;
  height: 30px;
}

.add-ctg button {
  width: 80px;
  padding: 3px;
  background-color: #02b902;
  color: white;
  border: 1px solid black;
  border-radius: 20px;
}

/* Update Category */

.updateCategory {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 170px;
  background-color: #5e5ef8;
  margin: auto;
  margin-top: 60px;
  border-radius: 10px;
  border: 1px solid black;
  gap: 10px;
}

.updateCategory input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  padding: 4px;
  border: 1px solid black;
  font-size: 1rem;
}

.updateCategory .button {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.updateCategory button {
  width: 120px;
  height: 40px;
  color: white;
  border: 1px solid black;
  background-color: #02b902;
  cursor: pointer;
  font-size: 1rem;
}

.alert-green {
  background-color: hsl(84, 95%, 70%);
}

.alert-red {
  background-color: hsl(0, 95%, 64%);
}

#search {
  margin-top: 40px;
  margin-left: 54px;
  width: 600px;
  margin-bottom: 10px;
}

#key {
  width: 100%;
  border-radius: 0;
  background-color: #f5f5f5;
  border: 2px solid #000062;
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000062;
  /* color: white; */
}

.active a {
  color: white;
}

.pagination {
  position: absolute;
  bottom: -50px;
  left: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  width: 1000px;
  height: 30px;
  /* background-color: black; */
}

.right.categories .pagination {
  bottom: 60px;
}
