.container {
  padding-top: 30px;
  width: 100%;
  min-height: 400vh;
  position: relative;
}

.card-rows {
  /* margin-top: 80px; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  padding: 40px;
  gap: 20px;
}

.card-rows .card {
  position: relative;
  /* margin-top: 10px; */
  padding: 5px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  width: 370px;
  height: 265px;
  /* cursor: pointer; */
}

button {
  display: block;
  cursor: pointer;
}

p {
  font-size: 1rem;
}

.print {
  background-color: white;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.logout {
  padding: 10px;
  position: fixed;
  left: 10px;
  bottom: 10px;
  border: 1px solid black;
}

img {
  width: 100%;
  height: 190px;
  border: 1px solid black;
}

.channel-content {
  display: flex;
}

.channel {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  background-color: brown;
}

.channel-content p {
  margin-left: 5px;
}

.tag-line {
  display: none;
  text-align: center;
  color: black;
}

.course-content {
  /* display: flex; */
  position: relative;
  padding: 25px;
  position: fixed;
  top: 105px;
  /* left: 18.5%; */
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  height: 470px;
  background-color: white;
  border: 1px solid black;
}

.course-content img {
  margin: auto;
  width: 600px;
  height: 300px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.top .right {
  width: 140px;
  height: 300px;
  /* background-color: black; */
  border: 1px solid black;
}

.course-content .bottom .left p {
  width: 610px;
}
.course-content .channel-content {
  margin-top: 10px;
}

.bottom {
  display: inline-flex;
  justify-content: space-between;
}

.bottom .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
}

.bottom .right p {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.bottom .right button.buy {
  margin-top: 5px;
  padding: 5px;
  width: 100px;
  background-color: #02b902;
  border: 1px solid black;
  color: white;
  font-weight: bold;
}

.close {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

button.close {
  border: 0 solid black;
  border-left-width: 1px;
  border-bottom-width: 1px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  background-color: red;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.card .bottom {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-between;
}

.card .bottom .left {
  width: 260px;
  /* background-color: red; */
}

.card .bottom .right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  /* background-color: black; */
}

button.check {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 80px;
  padding: 4px;
  background-color: transparent;
  /* background-color: #62d4d8; */
  color: white;
  font-weight: bold;
  border-width: 0;
  width: 370px;
  height: 265px;
  border-radius: 5px;
}
