body {
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  background-image: url(../img/luke-chesser-IGtutkXikuc-unsplash.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

a.account {
  color: #800080;
}

.container {
  display: flex;
  background-color: #eaeaea;
  height: 100vh;
}

.form-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90vh;
  margin: auto;
}

.form-content .left-content p {
  margin-bottom: 5px;
}

.form-content .right-content p {
  width: 200px;
}

.form-content p {
  color: #222;
  text-align: center;
}

.form-content h1 {
  text-align: center;
  margin-bottom: 10px;
}

.sign-in {
  z-index: 5000;
}

.sign-in h1,
.sign-up-input h1 {
  color: #800080;
  margin-bottom: 20px;
}

.form-content input {
  height: 35px;
  width: 280px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #f3f3f3;
  border: 1px solid black;
  padding-left: 5px;
}

.sign-in hr {
  display: inline-block;
  width: 25%;
  margin-bottom: 2.5px;
  color: black;
}

.sign-in p.line {
  text-align: center;
}

.sign-in .error-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  width: 100%;
  height: 70px;
  background-color: #ffdee0;
  border: 1px solid #fda6ab;
}

.sign-in p.error {
  color: #ff3640;
  font-size: 1rem;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-in button,
.sign-up-input button {
  margin-top: 5px;
  margin-bottom: 15px;
  width: 250px;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  margin-top: 20px;
  /* color: #e401e4; */
  /* background: linear-gradient(135deg, #820082, #ff00ff, #ffff01); */
  background: linear-gradient(135deg, #820082, #ff00ff, #969dfa);
  /* border: 2.5px solid black; */
  border-width: 0;
  transition: 0.5s;
  border: 1px solid purple;
  box-shadow: 0 5px 7px #626262;
}

.sign-in button:hover,
.sign-up-input button:hover {
  opacity: 0.8;
}

.form-content button {
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
}

.form-content .right-content button,
.sign-in-open button {
  width: 200px;
  margin-top: 40px;
  color: white;
  border-width: 0;
  /* position: relative; */
  background-color: hsl(0, 0%, 0%, 0.7);
}

/* .form-content .right-content button::before {
  content: "";
  position: absolute;
  opacity: 0.5;
  top: 0;
  left: 0;
  width: 200px;
  height: 30px;
} */

.form-content .left-content {
  z-index: 9999;
  position: relative;
  left: 20px;
}

.form-content .left-content,
.form-content .right-content {
  height: 90%;
  width: 450px;
}

.sign-in,
.sign-up-input {
  background-color: white;
}

.sign-in-open {
  color: white;
  background-image: url("../img/background/8.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}

.sign-in,
.sign-up,
.sign-in-open,
.sign-up-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  box-shadow: 5px 10px 15px #626262;
  border-radius: 10px;
}

.sign-up {
  box-shadow: 0 10px 15px #626262;
  z-index: 2;
}

.sign-up {
  color: white;
  background-image: url("../img/background/8.jpg");
  background-size: cover;
  background-position: center;
}

.sign-up p,
.sign-in-open p,
.sign-up h1,
.sign-in-open h1 {
  color: white;
}

.sign-up h1,
.sign-in-open h1 {
  font-size: 2.2rem;
}

.sign-up p,
.sign-in-open p {
  font-weight: 500;
  font-size: 1.2rem;
}

.form-content .right-content {
  height: 100%;
  position: relative;
}

.sign-up-input {
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: -1;
}

/* Slide 1 */

.form-content .right-content.slide1 {
  transform: translateX(-430px);
  height: 90%;
  animation: move1 2.5s;
  z-index: 8888;
}

.sign-in.slide1 {
  animation: hilang 2.5s;
  z-index: 0;
  opacity: 0;
}

.sign-up.slide1 {
  animation: hilang 2.5s;
  opacity: 0;
}

.sign-in-open.slide1 {
  animation: muncul 2.5s;
  z-index: 2;
  opacity: 1;
}

.form-content .left-content.slide1 {
  transform: translateX(430px);
  height: 100%;
  animation: move2 2.5s;
  z-index: 0;
}

.sign-up-input.slide1 {
  animation: muncul 2.5s;
  opacity: 1;
  z-index: 5;
}

/* Slide 2 */

.form-content .right-content.slide2 {
  transform: translateX(0);
  height: 100%;
  animation: move3 2.5s;
  z-index: 1;
}

.sign-in.slide2 {
  animation: muncul 2.5s;
  opacity: 1;
}

.sign-up.slide2 {
  animation: muncul 2.5s;
  opacity: 1;
}

.sign-in-open.slide2 {
  animation: hilang 2.5s;
  opacity: 0;
}

.form-content .left-content.slide2 {
  transform: translateX(0);
  height: 90%;
  animation: move4 2.5s;
}

.sign-up-input.slide2 {
  animation: hilang 2.5s;
  opacity: 0;
  z-index: -1;
}

@keyframes move1 {
  from {
    transform: translateX(0);
    height: 100%;
  }
  to {
    transform: translateX(-430px);
    height: 90%;
  }
}

@keyframes move2 {
  from {
    transform: translateX(0);
    height: 90%;
  }
  to {
    transform: translateX(430px);
    height: 100%;
  }
}

@keyframes move3 {
  from {
    transform: translateX(-450px);
    height: 90%;
  }
  to {
    transform: translateX(0);
    height: 100%;
  }
}

@keyframes move4 {
  from {
    transform: translateX(450px);
    height: 100%;
  }
  to {
    transform: translateX(0);
    height: 90%;
  }
}

@keyframes hilang {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes muncul {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.alert {
  z-index: 9999;
}

/* .forget {
  text-align: center;
  margin-bottom: 5px;
} */
