* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: black;
}

body {
  background-color: #eaeaea;
  font-family: sans-serif;
}

:root {
  --main-color: #ffd700;
  --bg1: #c71585;
  --bg2: #110b34;
  --shadow: 3px 3px 1px black;
}

nav {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 9999;
  height: 60px;
  /* background: linear-gradient(135deg, #7433db, #651dd8, #7433db, #844ddd, #9d74de); */
  background: linear-gradient(100deg, #a29fe8, #928fe5);
  padding-left: 8%;
  padding-right: 8%;
  justify-content: center;
  align-items: center;
  border-bottom: 1.5px solid white;
  box-shadow: 0 0.2rem 0.4rem #0005;
}

.search-content {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 420px;
  /* background-color: black; */
  height: 40px;
  margin-left: 20px;
  /* display: none; */
}

.search {
  font-size: 1.2rem;
  /* margin-left: 20px; */
  padding: 10px;
  width: 95%;
  height: 100%;
  border-radius: 20px;
  border: 1.8px solid black;
}

.judul {
  font-family: "Unbounded";
  font-size: 25px;
  color: white;
}

.navbar-list {
  flex: 1;
  /* text-align: right; */
  text-transform: uppercase;
  /* margin-right: 40px; */
  height: 30px;
  width: 100px;
  /* background-color: #c71585; */
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
}

.navbar-list a {
  color: #fff;
  font-size: 15px;
  position: relative;
}

/* .navbar-list a:hover::before,
.link.active::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 7px;
  height: 7px;
  background: var(--main-color);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
} */

/* .navbar-list a::after,
.link.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 1.6px;
  background: var(--main-color);
  box-shadow: 3px 3px 10px var(--main-color), -3px -3px 10px white;
  transition: 0.5s;
} */

/* .link.active::after {
  width: 100%;
  height: 1.5px;
} */

/* .navbar-list a:hover::after {
  width: 100%;
} */

button {
  cursor: pointer;
}

.login-button {
  display: flex;
  justify-content: end;
  gap: 10px;
  align-items: center;
  /* background-color: #110b34; */
  width: 400px;
  height: 40px;
  box-shadow: ;
}

.login-button button {
  width: 100px;
  height: 30px;
  border: 0;
  background: linear-gradient(100deg, #1ace44, #48cd67, #56c071);
  border-radius: 3px;
  color: white;
  box-shadow: 0 0.2rem 0.4rem rgba(2, 141, 30, 0.98);
}

#category-menu-content {
  position: absolute;
  top: 59px;
  right: 300px;
  min-height: 205px;
  width: 400px;
  /* background-color: #110b34; */
  display: flex;
  align-items: end;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
}

.category-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  background-color: white;
  min-height: 200px;
  width: 400px;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  box-shadow: 0 0.2rem 0.4rem #0005;
}

.ctgs {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100px;
}

.category-menu a {
  margin: auto;
}

.category-menu a:hover,
.profile-menu a:hover {
  text-decoration: underline;
}

/* Menu */

.profile,
.course-img {
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  display: block;
}

#menu {
  position: absolute;
  top: 49px;
  right: 43px;
  width: 230px;
  height: 320px;
  display: flex;
  align-items: end;
}

.menu-content {
  display: flex;
  flex-direction: column;
  background-color: #ffffffe7;
  height: 300px;
  width: 100%;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  box-shadow: 0 0.2rem 0.4rem #0005;
}

.menu-content a {
  color: black;
  margin: auto;
}

.email {
  font-size: 0.8rem;
}

.menu {
  height: 60px;
  width: 100%;
}

.menu i {
  color: #928fe5;
}

.menu .profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid black;
  margin-top: 5px;
}

.menu .username {
  margin-right: 20px;
}

.menu-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-1,
.menu-2,
.menu-3 {
  height: 200px;
  padding: 5px;
  border-bottom: 1.5px solid #5f5f5f;
}

.menu-2,
.menu-3,
.menu-4 {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.menu-2 a,
.menu-3 a,
.menu-4 a {
  height: 10px;
  width: 100%;
  /* background-color: rebeccapurple; */
  color: #1a1a1a;
  gap: 3px;
  /* display: block; */
}

.menu-4 a {
  margin-bottom: 10px;
}

.menu-2 a:hover,
.menu-3 a:hover,
.menu-4 a:hover {
  font-weight: bold;
  color: black;
}

.none {
  display: none;
}

/* Cart */

.cart {
  margin-top: -5px;
}

.cart i {
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
}

#cart-content {
  position: absolute;
  top: 40px;
  right: 318px;
  display: flex;
  align-items: end;
  height: 225px;
  width: 250px;
}

#cart {
  padding: 10px;
  width: 100%;
  height: 200px;
  background-color: white;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0.2rem 0.4rem #0005;
}

#cart .cart-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 110px;
  border-bottom: 1px solid black;
}

#cart .cart-list p {
  width: 100%;
  overflow: hidden;
  height: 50px;
}

#cart .cart-list .course-img {
  width: 90px;
  height: 50px;
  border-radius: 0;
  border: 1px solid black;
  margin-bottom: 5px;
}

#cart .cart-list .course-list {
  display: flex;
  gap: 5px;
  overflow: hidden;
  width: 100%;
}

#cart button {
  width: 230px;
  height: 40px;
  background-color: black;
  color: white;
  border: 1px solid black;
}

#total-price {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

#total-price p {
  font-size: 1.2rem;
}

.navbar-list .cart {
  position: relative;
}

.number {
  position: absolute;
  right: -10px;
  bottom: -5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #ff0000c5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number p {
  color: white;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background-color: #373737;
}

footer h3 {
  color: white;
}

/* Input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Close click */
.close-click {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
