.form-content {
}

.form-content-1 {
  position: relative;
}

.form-content-1 .img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content-1 img {
  height: 220px;
  border: 1px solid black;
  margin: auto;
}

.form-content-1 .thumbnail {
  padding-top: 0;
  padding-left: 0;
  height: 20px;
}
